$color_1: hsl(247,79%,58%);
$color_2: hsl(240,1%,59%);
$color_3: hsl(0,0%,25%);
$color_4: #f73859;
$color_5: #6d47d9;
$color_6: hsl(0,0%,19%);
$color_7: hsl(0,0%,31%);
$color_8: #e0e0e1;
$color_9: #505050;
$color_11: #c62e46;
$color_10: #f0f0f1;
$color_12: #999;
$color_13: #f3f3f6;
$color_14: #43414e;;
$color_15: #e1eaf8;;
$color_16: #5333ed;
$color_17: #150773;;
$color_18: #2cd4d9;
$color_19: #0c022f;
$color_20: #6E7076;
$color_21: #555;
$color_22: #f9f9fb;
$color_23: #e1eaf8;;
$color_gradient: linear-gradient(0deg,rgba(109,71,217,.92),rgba(82,62,232,.92));
